body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

textarea {
    width: 100%;
    height: 80px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

#leaderboard {
    width:fit-content;
    height:fit-content;
    resize: none;
    overflow: hidden;
}

#leaderboardAllTime {
    width:fit-content;
    height:fit-content;
    resize: none;
    overflow: hidden;
}

#loginDiv {
    background-color: #007bff;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    font-size: 16px;
}

#loginBtn {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginBtn:hover {
    background-color: #004792;
}

#gameMenu {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    top: 0;
    z-index: 10;
}

.gameBtn {
    background-color: #e0e0e0;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.gameBtn:hover {
    background-color: #d0d0d0;
}

.gameBtn.active {
    background-color: #007bff;
    color: white;
}

.modal {
    display: block; /* Show on page load */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
